@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Universal Styles */
* {
    margin: 0;
    /* padding: 0; */
}

body {
    font-family: 'Lato', sans-serif;
}

/* Shared Styles */
.primary-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

section {
    margin-bottom: 120px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 580px;
    margin: 25px auto;
    margin-bottom: 45px;
}

header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 0 120px;
    padding-top: 50px;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner-image img {
    width: 410px;
}

.featured-flowers {
    margin: 10px 120px;
}

.featured-flowers-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}

.featured-flowers-container .featured-flower .featured-flower-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0 0;
    padding: 0 30px;
    padding-top: 70px;

}

.featured-flowers-container .featured-flower .featured-flower-image.blue {
    background: rgba(5, 151, 160, 0.1);
    align-items: center;
}

.featured-flowers-container .featured-flower .featured-flower-image.gray {
    background: rgba(71, 125, 17, 0.15);
}

.featured-flowers-container .featured-flower .featured-flower-image img {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.featured-flowers-container .featured-flower .featured-flower-name {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 25px;
}

.featured-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 100px 0;
    padding: 80px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-section .featured-title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
}

.ad-banner {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    gap: 90px;
    align-items: center;
    padding: 50px 120px;
}

.ad-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 590px;
}

.ad-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
    display: block !important;
}

.ad-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}

.ad-title span {
    color: #E55473;
}

.ad-banner .ad-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-banner .ad-image img {
    width: 250px;
}

.display-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 120px;
    gap: 20px;
}

.display-images img {
    max-width: 250px;
}

.contact {
    background: url('./flower-asset/rectangle9.png');
    background-repeat: no-repeat;
    margin: 0 120px 120px 120px;
    border-radius: 8px;
}

.contact-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 150px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 15px;
}

.subscribe-form input {
    padding: 18px;
    width: 650px;
    font-family: 'Lato', sans-serif;
    border: 0;
    outline: none;
    border-radius: 8px;
}

footer {
    background: #111010;
    margin-bottom: 0;
    padding: 80px 0;
}

.footer-content {
    text-align: center;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-title span {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 600px;
}

.footer-content .copyright-text {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}