@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    /* padding: 0; */
}

body {
    font-family: 'Lato', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 0 120px;
    padding-top: 50px;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner-image img {
    width: 410px;
}